.cores{
    background-image: linear-gradient(to right, rgba(250, 24, 126, 0.945) , rgb(13, 3, 102)) !important;
}
.redes{
    font-size: 60px !important;
    color: white;
}
.textos{
    color: white;
}