.cor{
    background-image: linear-gradient(to right, rgba(250, 24, 126, 0.945) , rgb(13, 3, 102)) !important;
}
.cursor{
    cursor: pointer;
    color: aliceblue;
}
.text-decorator-none{
    text-decoration: none;
}