.cor{
    background-image: linear-gradient(to right, rgba(184, 12, 84, 0.678) , rgb(9, 6, 31)) !important;
}
.cursor{
    cursor: pointer;
    color: aliceblue;
}
.text-decorator-none{
    text-decoration: none;
}